@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
}

html {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  min-height: 100%;
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  background-color: #f2f2f2;
  color: #333333;
  text-align: center;
}
.page-container {
  width: 1200px;
  background: #ffffff;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  margin: 0 auto;
}

.page-container li {
  list-style: none;
}

.page-header {
  display: flex;
  justify-content: space-between;
  font-family: "PT Sans";
  font-weight: 700;
  text-transform: capitalize;
  background-color: #ffffff;
  color: #000000;
  padding: 0 70px;
}

.navigation {
  display: flex;
  justify-content: space-between;
  width: 1200px;
  height: 64px;
}

.page-navigation {
  display: flex;
  justify-content: space-between;
  gap: 28px;
}

.logo-sedona {
  position: relative;
}

.page-menu {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
}

.page-menu-item a {
  padding: 20px 16px;
  font-size: 20px;
  line-height: 24px;
  text-decoration: none;
  color: #000000;
}

.page-menu-item a:hover {
  background-color: #756257;
  color: #fdfafa;
}

.page-menu-item a:active {
  background-color: #7dadcc;
  color: #0f0f0f;
}

.page-first {
  position: relative;
}

.page-first::after {
  position: absolute;
  content: "";
  left: 50%;
  bottom: 0;
  background-color: #756257;
  width: 68px;
  height: 2px;
  transform: translateX(-50%);
}

.page-second {
  position: relative;
}

.page-second::after {
  position: absolute;
  content: "";
  left: 50%;
  bottom: 0;
  background-color: #756257;
  width: 93px;
  height: 2px;
  transform: translateX(-50%);
}

.user-menu {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
}

.user-menu-item a {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 20px;
  min-height: 20px;
}

.img-glass {
  background-image: url("../images/icon-glass.svg");
  background-repeat: no-repeat;
  padding: 22px 12px;
  background-position: center;
}

.img-heart {
  background-image: url("../images/icon-heart.svg");
  background-repeat: no-repeat;
  padding: 22px 12px;
  margin-right: 20px;
  background-position: center;
  position: relative;
}

.heart-number {
  position: absolute;
  content: " ";
  width: 20px;
  height: 20px;
  left: 45%;
  top: 11px;
  background-color: #7db54f;
  color: #ffffff;
  border-radius: 50%;
  font-family: "PT Sans";
  font-size: 10px;
  line-height: 20px;
  font-weight: 400;
}

.button {
  text-transform: uppercase;
  text-decoration: none;
  border-radius: 4px;
  border: 0;
  cursor: pointer;
}

.button:hover {
  outline: none;
  box-shadow: 0 0 0 128px rgba(0, 0, 0, 0.1) inset;
}

.button:focus {
  outline: none;
  box-shadow: 0 0 0 128px rgba(0, 0, 0, 0.1) inset;
}

.button:active {
  color: hsla(30, 17%, 93%, 0.3);
}

.button:disabled {
  opacity: 50%;
  background-color: #e5e5e5;
}

.button-catalog {
  font-size: 16px;
  line-height: 20px;
  padding: 8px 34px;
  background-color: #756157;
  color: #ffffff;
}

.main-content {
  background-color: #ffffff;
  flex-grow: 1;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.welcome-banner {
  background-color: #88c2e9;
  color: #000000;
  background-image: url("../images/background-arrow.svg"),
    url("../images/index-background.jpg");
  width: 100%;
  height: 485px;
  background-repeat: no-repeat;
  background-position: bottom;
}

.welcome-image {
  padding-top: 51px;
}

.about-city {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about-city h2 {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  color: #000000;
  text-transform: uppercase;
  margin: 0;
}

.about-city p {
  font-size: 22px;
  line-height: 26px;
  color: #333333;
  margin: 0;
}

.about-city-container-1 {
  display: flex;
  flex-direction: column;
  width: 651px;
  margin: 0;
  margin-bottom: 21px;
  padding: 69px 0;
  gap: 25px;
}

.about-city-container-2 {
  display: flex;
  flex-direction: column;
  width: 505px;
  margin: 0;
  padding: 64px 0;
  gap: 20px;
}

.about-city-container {
  margin: 0;
  padding: 96px 0;
}

.about-city-container-3 {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 592px;
  gap: 20px;
}

.about-city-button {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  padding-top: 54px;
  width: 376px;
}

.reasons {
  font-size: 18px;
  line-height: 21px;
  color: #ffffff;
}

.reasons h3 {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
}

.block-advantages {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}

.block-dark-blue {
  display: flex;
  justify-content: center;
  background: #82b3d3;
  width: 100%;
}

.block-description-1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 60px;
  padding: 103px 85px;
  width: 400px;
}

.block-description-1 h3 {
  margin: 0;
  padding: 0;
  position: relative;
}

.block-description-2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 62px;
  padding: 113px 85px;
  width: 400px;
}

.block-description-2 h3 {
  margin: 0;
  padding: 0;
  position: relative;
}

.block-description-1 h3::after {
  position: absolute;
  content: "";
  left: 50%;
  bottom: -30px;
  width: 60px;
  height: 2px;
  background-color: #ffffff;
  opacity: 30%;
  transform: translateX(-50%);
}

.block-description-2 h3::after {
  position: absolute;
  content: "";
  left: 50%;
  bottom: -32px;
  width: 60px;
  height: 2px;
  background-color: #000000;
  opacity: 30%;
  transform: translateX(-50%);
}

.block-description-1 p {
  margin: 0;
  padding: 0;
}

.block-description-2 p {
  margin: 0;
  padding: 0;
}

.content-img {
  display: block;
}

.block-image {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 800px;
}

.block-blue {
  display: flex;
  justify-content: center;
  background: #e6f0f6;
  color: #333333;
  width: 400px;
}

.block-blue h3 {
  color: #000000;
}

.white-blue {
  background-color: #f0f6fa;
  padding: 0;
}

.reverse {
  flex-direction: row-reverse;
}

.offers {
  display: flex;
  margin: 0;
  padding: 0;
}

.offers-item {
  display: flex;
  justify-content: center;
}

.blue {
  background-color: #f0f6fa;
}

.offers-item-description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  width: 230px;
  padding: 80px 85px;
}

.offers-item h3 {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: #000000;
  text-transform: uppercase;
  margin: 0;
}

.offers-item p {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  margin: 0;
}

.button-search {
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  padding: 8px 50px;
  background-color: #756157;
  color: #ffffff;
}

.subscribe {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.bg {
  background-image: url("../images/background-subscribe.jpg");
  background-repeat: no-repeat;
  background-color: #88c2e9;
  background-size: cover;
  color: #ffffff;
}

.subscribe-items {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding-top: 95px;
  padding-bottom: 104px;
  gap: 55px;
  width: 684px;
}

.subscribe-title {
  display: flex;
  flex-direction: column;
  width: 475px;
  gap: 20px;
}

.subscribe-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  width: 475px;
}

.subscribe-items-form {
  width: 684px;
}

.subscribe h2 {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  margin: 0;
}

.subscribe p {
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  margin: 0;
}

.subscribe-form {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 684px;
}

.subscribe-input {
  font-family: "PT Sans", Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: #000000;
  border-radius: 4px 0 0 4px;
  border-style: none;
  padding: 14px 20px;
  width: 100%;
}

.subscribe-input:hover {
  outline: 2px solid #82b3d3;
}

.subscribe-input:focus-visible {
  outline: 2px solid #82b3d3;
}

.subscribe-background {
  background: #f2f2f2;
}

.button-subscribe {
  font-family: "PT Sans", Arial, Helvetica, sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  background: #82b3d3;
  border-radius: 0 4px 4px 0;
  border-style: none;
  padding: 8px 50px;
  color: #ffffff;
  margin: 0;
}

.page-footer {
  width: 1200px;
  background-color: #ffffff;
}

.footer-block {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px 70px 30px 70px;
  height: 50px;
  margin: 0;
}

.social-list {
  display: flex;
  justify-content: center;
  padding: 0;
  margin: 0;
}

.social-item a {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 48px;
  min-height: 40px;
  padding: 0;
  margin: 0;
}

.vkontakte,
.telegram,
.youtube {
  color: #83b3d3;
}

.vkontakte:hover,
.telegram:hover,
.youtube:hover {
  color: #68a2ca;
}

.vkontakte:focus,
.telegram:focus,
.youtube:focus {
  color: #68a2ca;
}
.vkontakte:focus-visible,
.telegram:focus-visible,
.youtube:focus-visible {
  outline: none;
  color: #68a2ca4d;
}

.vkontakte:active,
.telegram:active,
.youtube:active {
  color: #68a2ca4d;
}

.subscribe-background {
  background: #f2f2f2;
}

.phone {
  font-weight: 400;
  font-size: 40px;
  line-height: 40px;
  align-self: center;
  text-transform: uppercase;
  color: #000000;
}

.logo-academy {
  display: flex;
  color: #000000;
}

.phone:hover,
.logo-academy:hover {
  color: #756157;
}

.phone:focus,
.logo-academy:focus {
  color: #756157;
}
.phone:focus-visible,
.logo-academy:focus-visible {
  color: #756157;
  outline: none;
}

.phone:active,
.logo-academy:active {
  color: #7561574d;
}

.page-footer a {
  text-decoration: none;
}

.filter-hotels {
  width: 1200px;
  font-size: 20px;
  line-height: 24px;
  color: #ffffff;
  background-image: url("../images/background-filtr.jpg");
  background-size: cover;
  margin: 0;
  padding: 0;
}

.filter-container {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 35px 70px 70px;
}

.filter-title {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
  margin-bottom: 40px;
}

.breadcrumbs {
  display: flex;
  align-items: center;
  gap: 28px;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  margin: 0;
  padding: 0;
}

.breadcrumbs-item {
  position: relative;
  margin: 0;
  padding-right: o;
  color: #ffffff;
}

.breadcrumbs-item:not(:last-child)::after {
  position: absolute;
  content: " ";
  background-image: url("../images/breadcrumbs-arrow.svg");
  background-repeat: no-repeat;
  width: 8px;
  height: 21px;
  top: 4px;
  right: -18px;
}

.breadcrumbs-item:hover {
  opacity: 60%;
}

.breadcrumbs-item:active {
  opacity: 30%;
}

.breadcrumbs-item:focus-visible {
  color: #ffffff;
  outline: none;
}

.breadcrumbs-item a {
  text-decoration: none;
  color: #ffffff;
}

.breadcrumbs-home,
.breadcrumbs-arrow {
  color: #ffffff;
}

.choice-hotels {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
}

.choice-menu-1 {
  display: flex;
  gap: 71px;
}

.choice-menu-2 {
  display: flex;
  gap: 70px;
}

.choice-hotels-list-1 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.choice-hotels-list-2 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 288px;
}


.legend-title {
  font-weight: 700;
  padding: 0;
  margin: 0;
  border: 0;

}

.custom-checkbox {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.custom-checkbox + label {
  display: inline-flex;
  align-items: center;
  user-select: none;
}

.custom-checkbox + label::before {
  content: " ";
  display: inline-block;
  width: 20px;
  height: 20px;
  flex-shrink: 0;
  flex-grow: 0;
  background-color: #ffffff;
  border-radius: 4px;
  margin-right: 16px;
  background-repeat: no-repeat;
  background-position: center center;
}

.custom-checkbox:checked + label::before {
  background-color: #ffffff;
  background-image: url("../images/tick.svg");
  background-repeat: no-repeat;
  background-position: center center;
}
/* при наведении курсора на checkbox */
.custom-checkbox:not(:disabled) + label:hover::before {
  background-color: #83b3d3;
}
/* для активного состояния чекбокса (при нажатии на него) */
.custom-checkbox:not(:disabled):active + label::before {
  background-color: #83b3d3;
}
/* для чекбокса, находящегося в фокусе */
.custom-checkbox:focus-visible + label::before {
  outline: 2px solid #83b3d3;
}
/* для чекбокса, находящегося в фокусе и не находящегося в состоянии checked */
.custom-checkbox:not(:checked):focus-visible + label::before {
  outline: 2px solid #83b3d3;
}
/* стили для чекбокса, находящегося в состоянии disabled */
.custom-checkbox:disabled + label::before {
  background-color: #999b9c;
}

.custom-radio {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.custom-radio + label {
  display: inline-flex;
  align-items: center;
  user-select: none;
}

.custom-radio + label::before {
  content: " ";
  display: inline-block;
  width: 20px;
  height: 20px;
  flex-shrink: 0;
  flex-grow: 0;
  background-color: #ffffff;
  border-radius: 50%;
  margin-right: 16px;
}
/* при наведении курсора на переключатель */
.custom-radio:not(:disabled):not(:checked) + label:hover::before {
  background-color: #83b3d3;
}
/* при наведении курсора на переключатель */
.custom-radio:checked + label:hover:before {
  background-color: #83b3d3;
}
/* для активного состояния переключателя (при нажатии на него) */
.custom-radio:not(:disabled):active + label::before {
  background-image: url("../images/radio.svg");
  background-position: center center;
  background-color: #83b3d3;
}
/* для переключателя, находящегося в фокусе */
.custom-radio:focus-visible + label::before {
  outline: 2px solid #83b3d3;
}
/* для переключателя, находящегося в фокусе и не находящегося в состоянии checked */
.custom-radio:focus-visible :not(:checked) + label::before {
  outline: 2px solid #83b3d3;
}
/* для переключателя, находящегося в фокусе находящегося в состоянии checked */
.custom-radio:checked + label::before {
  background-color: #ffffff;
  background-image: url("../images/radio.svg");
  background-position: center center;
}
/* стили для переключателя, находящегося в состоянии disabled */
.custom-radio:disabled + label::before {
  background-color: #999b9c;
}

.choice-hotels-list-1 fieldset {
  margin-bottom: 32px;
  text-align: left;
}

.choice-hotels-list-2 fieldset {
  margin-bottom: 32px;
  text-align: left;
}

.column {
  display: flex;
  flex-direction: column;
  align-self: flex-start;
  gap: 16px;
}

.check-radio {
  display: flex;
  justify-content: flex-start;
  gap: 16px;
  font-size: 18px;
  font-family: PT Sans;
  line-height: 23px;
  padding: 0;
  margin: 0;
}

.input-start {
  position: relative;
  margin-right: 2px;
}

.input-end {
  position: relative;
}

.label-start {
  position: absolute;
  color: #000000;
  top: 12px;
  right: 20px;
  font-size: 18px;
  font-family: PT Sans;
  font-weight: 400;
  line-height: 24px;
  opacity: 30%;
}

.label-end {
  position: absolute;
  color: #000000;
  top: 12px;
  right: 20px;
  font-size: 18px;
  font-family: PT Sans;
  font-weight: 400;
  line-height: 24px;
  opacity: 30%;
}

.input-number {
  font-size: 18px;
  font-family: "PT Sans";
  font-weight: 700;
  line-height: 24px;
  background-color: #f2f2f2;
  padding: 12px 20px;
  border-style: none;
  width: 103px;
}
.number-start {
  border-radius: 4px 0 0 4px;
}

.number-end {
  border-radius: 0 4px 4px 0;
}

.input-number:hover {
  background-color: #e2dfdf;
}

.input-number:focus-visible {
  background-color: #e2dfdf;
  box-shadow: #68a2ca;
  outline: 3px solid #83b3d3;
}

.choice-line {
  display: flex;
  flex-wrap: wrap;
  width: 288px;
}

.range {
  min-width: 288px;
  min-height: 20px;
  margin-top: 36px;
}

.range-scale {
  position: relative;
  height: 4px;
  border: none;
  background-color: #807e7e;
  top: 8px;
}

.range-bar {
  position: absolute;
  height: 4px;
  border: none;
  background-color: #fff;
  width: 226px;
}

.range-toggle {
  position: absolute;
  width: 20px;
  height: 20px;
  background-color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.range-toggle:hover {
  outline: none;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.range-toggle:focus-visible {
  outline: 3px solid #82b3d3;
}

.range-toggle:active {
  outline: 2px solid #82b3d3;
}

.toggle-min {
  left: 0;
  top: -8px;
}

.toggle-max {
  left: 206px;
  top: -8px;
}

.choice-hotels-button {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.button-apply {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  background: #82b3d3;
  padding: 8px 8px;
  color: #ffffff;
  min-width: 191px;
  min-height: 36px;
}

.button-reset {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  background: none;
  padding: 8px 8px;
  color: #ffffff;
  margin-top: 31px;
  min-width: 191px;
  min-height: 36px;
}

.button-reset:hover {
  opacity: 70%;
}

.button-reset:focus-visible {
  box-shadow: inset 0 0 0 5px #82b3d3;
  outline: none;
}

.button-reset:active {
  opacity: 30%;
  outline: none;
  box-shadow: none;
}

.button-reset:disabled {
  opacity: 10%;
}

.filter-hotels h2 {
  font-weight: 700;
  font-size: 60px;
  line-height: 78px;
  margin: 0;
}

.results {
  width: 1060px;
  padding: 50px 70px 60px 70px;
}

.results-hotels {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  color: #000000;
  padding: 0;
  padding-bottom: 39px;
  margin: 0;
}

.results-hotels p {
  padding: 0;
  margin: 0;
}

.sorting {
  display: flex;
  line-height: 21px;
  padding: 0;
  margin: 0;
  gap: 8px;
}

.sorting-price {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 70px;
}

.sorting-form form {
  display: flex;
}

.select-price {
  font-family: "PT Sans";
  font-size: 18px;
  line-height: 21px;
  min-width: 292px;
  padding: 12px 18px;
  padding-right: 30px;
  border-radius: 4px;
  border: 2px solid #e5e5e5;
  background-image: url("../images/select-arrow.svg");
  background-repeat: no-repeat;
  background-position: right 18px center;
  appearance: none;
}

.select-price:hover {
  border: 2px solid #82b3d3;
}

.select-price:focus-visible {
  outline: 2px solid #82b3d3;
}

.select-price:disabled {
  outline: none;
  color: #f2f2f2;
}

.button-view {
  border-radius: 4px;
  border: 2px solid #e5e5e5;
  background-color: #ffff;
  cursor: pointer;
  min-width: 48px;
  min-height: 48px;
}

.button-view:hover {
  border: 2px solid #000;
}

.button-view:focus-visible {
  border: none;
  outline: 2px solid #82b3d3;
}

.view-1 {
  background-image: url("../images/catalog-view-1.svg");
  background-repeat: no-repeat;
  background-position: center;
  border: 2px solid #000;
}

.view-2 {
  background-image: url("../images/catalog-view-2.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.view-3 {
  background-image: url("../images/catalog-view-3.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.catalog-view {
  display: grid;
  grid-template-columns: 340px 340px 340px;
  gap: 18px 20px;
  padding-bottom: 79px;
}

.hotel-view {
  display: flex;
  justify-content: flex-start;
  width: 340px;
  border: 1px solid #e6e6e6;
  border-radius: 4px;
}

.hotel-list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0;
  padding: 20px;
  gap: 16px;
}

.hotel-title {
  display: flex;
  justify-content: flex-start;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: #000000;
  text-decoration: none;
}
.hotel-price {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
}

.hotel-about {
  display: flex;
  justify-content: space-between;
}

.button-more {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  padding: 8px 26px;
  background-color: #756157;
  color: #ffffff;
}

.button-favourite {
  font-family: "PT Sans", Arial, Helvetica, sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  background: #82b3d3;
  color: #ffffff;
  padding: 8px 20px;
  border: 0;
}

.green {
  background: #7db54f;
  padding: 8px 18px;
}

.stars-2 {
  min-width: 45px;
  min-height: 30px;
  background-image: url("../images/stars.png");
  background-repeat: no-repeat;
  background-position: center;
}

.stars-3 {
  min-width: 90px;
  min-height: 30px;
  background-image: url("../images/stars.png");
  background-repeat: no-repeat;
  background-position: center;
}

.stars-4 {
  min-width: 140px;
  min-height: 30px;
  background-image: url("../images/stars.png");
  background-repeat: no-repeat;
  background-position: center;
}

.button-rating {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  background-color: #f2f2f2;
  color: #333333;
  margin: 0;
  padding: 9px 22px;
  border: 0;
}
.hotel-rating {
  display: flex;
  justify-content: space-between;
  font-size: 16px;
}

.pagination {
  display: flex;
  gap: 8px;
  position: relative;
}

.pagination::after {
  position: absolute;
  content: "";
  left: 50%;
  bottom: 165%;
  background-color: #e6e6e6;
  width: 1060px;
  height: 1px;
  transform: translateX(-50%);
}

.button-pagination {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  min-width: 60px;
  height: 60px;
  text-align: center;
  text-decoration: none;
  background-color: #82b3d3;
  color: #ffffff;
  margin: 0;
  padding: 11.4px 5px;
  border: 0;
  box-sizing: border-box;
}

.active {
  background-color: #f2f2f2;
  color: #000;
  border-radius: 4px;
}

.no-decor {
  background-color: #fff;
  color: #000;
}

.modal-container {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(242, 242, 242, 0.8);
}

.modal {
  position: relative;
  margin: auto;
  padding: 64px 70px;
  border-radius: 30px;
  background-color: #ffffff;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.modal-container-close {
  display: ;
}

.modal-close-button {
  position: absolute;
  padding: 0;
  top: 64px;
  right: 52px;
  width: 52px;
  height: 52px;
  background-color: #f2f2f2;
  border: none;
  border-radius: 50%;
  cursor: pointer;
}

.modal-close-button:hover {
  outline: none;
  background-color: #e2e0e0;
  color: #000000;
  fill-opacity: 0.9;
}

.modal-close-button:focus-visible {
  outline: 3px solid #82b3d3;
}

.modal-close-button:active {
  outline: none;
  color: #000000;
  fill-opacity: 0.2;
}

.modal-content {
  display: flex;
  flex-direction: column;
  width: 577px;
}

.modal-title {
  margin: 0;
  margin-bottom: 64px;
  font-family: "Pt Sans";
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-align: start;
  color: #000000;
  text-transform: uppercase;
}

.check-date-form {
  display: flex;
  flex-direction: column;
  gap: 23px;
}

.parametr-group {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.parametr {
  font-family: "Pt Sans";
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  text-align: start;
  max-width: 137px;
}

.form-label {
  font-family: "Pt Sans";
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  text-align: start;
  margin: 0;
  max-width: 137px;
}

.form-label-parametr {
  margin: 0;
  padding: 8px;
  max-width: 137px;
}

.tooltip {
  position: absolute;
  width: 26px;
  height: 26px;
}

.tooltip-toggle {
  background-color: #83b3d3;
  border-radius: 50px;
  width: 26px;
  padding: 0;
  border: none;
  cursor: pointer;
  display: block;
}

.tooltip-toggle:hover {
  background-color: #4c87af;
}

.tooltip-icon {
  width: 100%;
  height: 100%;
  display: block;
}

.tooltip-text {
  background-color: #242424;
  color: #ffffff;
  font-size: 16px;
  line-height: 20px;
  font-weight: normal;
  text-transform: none;
  padding: 18px 15px 22px 22px;
  border-radius: 10px;
  width: 216px;
  position: absolute;
  top: 100%;
  margin-top: 13px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
  display: none;
}

.tooltip-toggle:hover + .tooltip-text,
.tooltip-toggle:focus + .tooltip-text {
  display: block;
}

.tooltip-toggle:focus-visible {
  outline: 3px solid #82b3d3;
}

.tooltip-text:after {
  content: "";
  background-image: url("../images/tooltip-arrow.svg");
  width: 19px;
  height: 9px;
  position: absolute;
  bottom: 100%;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}

.select-number {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style: none;
}

.check-date {
  margin: 0;
  padding: 12px 20px;
  font-size: 18px;
  font-family: "PT Sans";
  font-weight: 700;
  line-height: 24px;
  border: none;
  border-radius: 4px;
  background-color: #f2f2f2;
  width: 400px;
}

.check-date:focus-visible {
  outline: 3px solid #82b3d3;
}

.comment-input {
  font-family: "PT Sans";
  font-size: 16px;
  line-height: 21px;
  color: #333333;
  padding-left: 157px;
  padding-top: 4px;
  text-align: left;
}

.error {
  color: #ff5757;
}

.field-options {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
}

.add-parametr {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  align-items: center;
  width: 249px;
}

.options-search {
  display: flex;
  justify-content: space-between;
  width: 577px;
}

.button-minus {
  width: 40px;
  height: 48px;
  padding: 14px 10px 19px 10px;
  cursor: pointer;
  border-radius: 4px 0 0 4px;
  fill-opacity: 0.2;
}
.button-plus svg {
  width: 14px;
  height: 14px;
  padding: 14px 10px;
  cursor: pointer;
  border-radius: 0 4px 4px 0;
  fill-opacity: 0.2;
}

.button-minus:hover,
.button-plus:hover {
  outline: none;
  box-shadow: none;
  color: #000000;
  fill-opacity: 0.9;
}

.button-minus:focus-visible,
.button-plus:focus-visible {
  outline: 2px solid #82b3d3;
  color: #000000;
  box-shadow: none;
  fill-opacity: 0.9;
}

.button-minus:active,
.button-plus:active {
  outline: none;
  color: #000000;
  box-shadow: none;
  fill-opacity: 0.2;
}

.number {
  width: 31px;
  padding: 14px 0;
  text-align: center;
  font-size: 18px;
  font-family: "PT Sans";
  font-weight: 700;
  line-height: 20px;
  background-color: #f2f2f2;
  border: none;
  appearance: none;
  border-radius: 0;
}

.number:focus-visible {
  outline: 2px solid #82b3d3;
  box-shadow: none;
}

.button-search-modal {
  font-size: 20px;
  font-family: "PT Sans";
  font-weight: 700;
  line-height: 24px;
  margin-top: 48px;
  padding: 18px 77px;
  color: #ffffff;
  background-color: #83b3d3;
  border: none;
  border-radius: 10px;
}
