@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  min-height: 100%;
  font-family: "PT Sans", Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 400;
  background-color: #f2f2f2;
  color: #333333;
  text-align: center;
}
.page-container {
  width: 1200px;
  background: #ffffff;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  margin: 0 auto;
}

.page-container li {
  list-style: none;
}

.page-header {
  display: flex;
  justify-content: space-between;
  font-weight: 700;
  background-color: #ffffff;
  color: #000000;
  padding: 0 70px;
}

.navigation {
  display: flex;
  justify-content: space-between;
  width: 1200px;
  height: 64px;
}

.page-navigation {
  display: flex;
  justify-content: space-between;
  gap: 30px;
}

.logo-sedona {
  position: relative;
}

.page-menu {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
}

.page-menu-item a {
  padding: 20px 16px;
  font-size: 20px;
  line-height: 24px;
  text-decoration: none;
  color: #000000;
}

.page-first {
  position: relative;
}

.page-first::after{
  position: absolute;
  content: '';
  left: 50%;
  bottom: 0;
  background-color: #756257;
  width: 68px;
  height: 2px;
  transform: translateX(-50%);
}

.page-second {
  position: relative;
}

.page-second::after{
  position: absolute;
  content: '';
  left: 50%;
  bottom: 0;
  background-color: #756257;
  width: 93px;
  height: 2px;
  transform: translateX(-50%);

}

.user-menu {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
}

.user-menu-item {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 18px;
  min-height: 18px;
}

.img-glass {
  background-image: url("../images/icon-glass.svg");
  background-repeat: no-repeat;
  padding: 22px 12px;
  background-position: center;
}

.img-heart {
  background-image: url("../images/icon-heart.svg");
  background-repeat: no-repeat;
  padding: 22px 12px;
  margin-right;20px;
  background-position: center;
  position: relative;
}

.img-heart::after {
  position: absolute;
  content: '12';
  width: 20px;
  height: 20px;
  left: 48%;
  top: 11px;
  background-color: #7DB54F;
  color: #FFFFFF;
  border-radius: 50%;
  font-family: "PT Sans";
  font-size: 10px;
  line-height: 20px;
}

.padding-button {
  padding-left: 20px;
}

.button {
  text-transform: uppercase;
  text-decoration: none;
  border-radius: 4px;
  cursor: pointer;
}

.button-catalog {
  font-size: 16px;
  line-height: 20px;
  padding: 8px 34px;
  background-color: #756157;
  color: #ffffff;
}

.main-content {
  background-color: #ffffff;
  flex-grow: 1;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.welcome-banner {
  background-color: #88c2e9;
  color: #000000;
  background-image: url("../images/background-arrow.svg"),
    url("../images/index-background.jpg");
  width: 100%;
  height: 485px;
  background-repeat: no-repeat;
  background-position: bottom;
}

.welcome-image {
  padding-top: 51px;
}

.about-city {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about-city h2 {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  color: #000000;
  text-transform: uppercase;
  margin: 0;
}

.about-city p {
  font-size: 22px;
  line-height: 26px;
  color: #333333;
  margin: 0;
}

.about-city-container-1 {
  display: flex;
  flex-direction: column;
  width: 651px;
  margin: 0;
  margin-bottom: 21px;
  padding: 69px 0;
  gap: 25px;
}

.about-city-container-2 {
  display: flex;
  flex-direction: column;
  width: 505px;
  margin: 0;
  padding: 64px 0;
  gap: 20px;
}

.about-city-container {
  margin: 0;
  padding: 96px 0;
}

.about-city-container-3 {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 592px;
  gap: 20px;
}

.about-city-button {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  padding-top: 54px;
  width: 376px;
}

.reasons {
  font-size: 18px;
  line-height: 21px;
  color: #ffffff;
}

.reasons h3 {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
}
.block-advantages {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}

.block-dark-blue {
  display: flex;
  justify-content: center;
  background: #82b3d3;
  width: 100%;
}

.block-description-1 {
  display: flex;
  flex-direction: column;
  justify-content:space-between;
  align-items: center;
  gap: 60px;
  padding: 103px 85px;
}

.block-description-1 h3 {
  width: 175px;
  margin: 0;
  padding: 0;
  position: relative;
}

.block-description-2 {
  display: flex;
  flex-direction: column;
  justify-content:space-between;
  align-items: center;
  gap: 60px;
  padding: 113px 85px;
}

.block-description-2 h3 {
  width: 175px;
  margin: 0;
  padding: 0;
  position: relative;
}

.block-description-1 h3::after {
  position: absolute;
  content: '';
  left: 50%;
  bottom: -30px;
  width: 60px;
  height: 2px;
  background-color: #FFFFFF;
  opacity: 30%;
  transform: translateX(-50%);
}

.block-description-2 h3::after {
  position: absolute;
  content: '';
  left: 50%;
  bottom: -30px;
  width: 60px;
  height: 2px;
  background-color: #000000;
  opacity: 30%;
  transform: translateX(-50%);
}

.block-description-1 p {
  margin: 0;
  padding: 0;
}

.block-description-2 p {
  margin: 0;
  padding: 0;
}

.content-img {
  display: block;
}

.block-image {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.block-blue {
  display: flex;
  justify-content: center;
  background:  #e6f0f6;
  color: #333333;
  width: 400px;
}

.block-blue h3 {
  color: #000000;
}

.white-blue {
  background-color:#f0f6fa;
  padding: 0;
}

.reverse {
  flex-direction: row-reverse;
}

.offers {
  display: flex;
  margin: 0;
  padding: 0;
}
.offers-item {
  display: flex;
  justify-content: center;
  width: 400px;
  padding: 80px 0;
}

.blue {
  background-color: #f0f6fa;
}

.offers-item-description {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
  width: 230px;
}

.offers-item h3 {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: #000000;
  text-transform: uppercase;
  margin: 0;
}
.offers-item p {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
}

.button-search {
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  padding: 8px 50px;
  background-color: #756157;
  color: #ffffff;
}

.subscribe {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.bg {
  background-image: url("../images/background-subscribe.jpg");
  background-repeat: no-repeat;
  background-color: #88c2e9;
  background-size: cover;
  color: #ffffff;
}

.subscribe-items {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding-top: 96px;
  padding-bottom: 104px;
  gap: 54px;
  width: 684px;
}

.subscribe-title {
  display: flex;
  flex-direction: column;
  width: 475px;
  gap: 20px;
}

.subscribe-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  width: 475px;
}

.subscribe-items-form {
  width: 684px;
}

.subscribe h2 {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  margin: 0;
}
.subscribe p {
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  margin: 0;
}

.subscribe-form {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 684px;
}

.subscribe-input {
  font-family: "PT Sans", Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: #000000;
  background: #f2f2f2;
  border-radius: 4px 0 0 4px;
  border-style: none;
  padding: 14px 20px;
  width: 100%;
}

.button-subscribe {
  font-family: "PT Sans", Arial, Helvetica, sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  background: #82b3d3;
  border-radius: 0 4px 4px 0;
  border-style: none;
  padding: 8px 50px;
  color: #ffffff;
  margin: 0;
}

.page-footer {
  width: 1200px;
  background-color: #ffffff;
}

.footer-block {
  display: flex;
  justify-content: space-between;
  padding: 40px 70px 30px 70px;
  height: 50px;
}

.social-list {
  display: flex;
  justify-content: center;
  padding: 0;
  margin: 0;
}

.social-item {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 48px;
  min-height: 40px;
}

.vkontakte {
  background-image: url("../images/icon-vk.svg");
  background-repeat: no-repeat;
  background-position: center;

}

.telegram {
  background-image: url("../images/icon-telegram.svg");
  background-repeat: no-repeat;
  background-position: center;


}

.youtube {
  background-image: url("../images/icon-youtube.svg");
  background-repeat: no-repeat;
  background-position: center;


}

.page-footer a {
  text-decoration: none;
}

.phone {
  font-weight: 400;
  font-size: 40px;
  line-height: 40px;
  align-self: center;
  text-transform: uppercase;
  color: #000000;
  padding: 0 194px 0 195px;
}

.logo-academy {
  display: flex;
  justify-content: center;
  background-image: url("../images/logo-academy.svg");
  background-repeat: no-repeat;
  background-position: center;
  min-width: 114px;
}

.filter-hotels {
  width: 1200px;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #ffffff;
  background-image: url("../images/background-filtr.jpg");
  background-size: cover;
  margin: 0;
  padding: 0;
}

.filter-container {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 35px 70px 70px;
}

.filter-title {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
  margin-bottom: 40px;
}

.choice-hotels {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
}

.choice-menu-1 {
  display: flex;
  gap: 70px;
}

.choice-menu-2 {
  display: flex;
  gap: 70px;
}
.choice-line {
  display: flex;
  flex-wrap: wrap;
  width: 288px;
}
.choice-hotels-list-1 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.choice-hotels-list-2 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 288px;
}

.choice-hotels-list-1 legend {
  padding-bottom: 32px;
  text-align: left;
}

.choice-hotels-list-2 legend {
  padding-bottom: 32px;
  text-align: left;
}

.column {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.line {
  display: flex;
  gap: 16px;
}

.input-start input{
  display: block;
  width: 143px;
  padding: 12px 20px;
  box-sizing: border-box;
}

.input-end input{
  display: block;
  width: 143px;
  padding: 12px 20px;
  box-sizing: border-box;
}

.choice-hotels-button {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: 32px;
}

.button-apply {
  font-family: "PT Sans", Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  background: #82b3d3;
  border-radius: 4px;
  padding: 8px 50px;
  color: #ffffff;
}

.button-reset {
  font-family: "PT Sans", Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  background: none;
  border: 0;
  padding: 8px 58px;
  color: #ffffff;
}

.filter-hotels h2 {
  font-weight: 700;
  font-size: 60px;
  line-height: 78px;
  margin: 0;
}

.breadcrumbs {
  display: flex;
  align-items: center;
  gap: 10px;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  margin: 0;
  padding: 0;
}

.breadcrumbs-item {
  margin: 0;
}

.rezults {
  width: 1060px;
  padding: 50px 70px 60px 70px;
}

.results-hotels {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  color: #000000;
  padding-bottom: 39px;
}

.results-hotels p {
  padding: 0;
  margin: 0;
}

.sorting {
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: space-between;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
  padding: 0;
  margin: 0;
  gap: 8px;
  min-width: 48px;
  min-height: 48px;
}

.sorting-price {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 70px;
}

.sorting-form form {
  display: flex;
}

.sorting-form select {
  font-size: 18px;
  line-height: 21px;
  min-width: 292px;
  padding: 12px 20px;
  border-radius: 4px;
  border: 2px solid #e5e5e5;
}

.button-view {
  align-content: center;
  align-items: center;
  border-radius: 4px;
  border: 2px solid #e5e5e5;
  background-color: #fff;
  min-width: 48px;
  min-height: 48px;
}

.view-1 {
  background-image: url("../images/catalog-view-1.svg");
  background-repeat: no-repeat;
  background-position: center;
  padding: 14px 12px;
}

.view-2 {
  background-image: url("../images/catalog-view-2.svg");
  background-repeat: no-repeat;
  background-position: center;
  padding: 14px 12px;
}

.view-3 {
  background-image: url("../images/catalog-view-3.svg");
  background-repeat: no-repeat;
  background-position: center;
  padding: 14px 12px;
}

.button-active {
  border: 2px solid #000;
}

.catalog-view {
  display: grid;
  grid-template-columns: 340px 340px 340px;
  gap: 15px 20px;
  padding-bottom: 80px;
}

.hotel-view {
  display: flex;
  justify-content: flex-start;
  width: 340px;
  border: 1px solid #e6e6e6;
  border-radius: 4px;
}

.hotel-list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0;
  padding: 20px;
  gap: 16px;
}

.hotel-title {
  display: flex;
  justify-content: flex-start;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: #000000;
  text-decoration: none;
}
.hotel-price {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
}

.hotel-about {
  display: flex;
  justify-content: space-between;
}

.button-more {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  padding: 8px 26px;
  background-color: #756157;
  color: #ffffff;
}

.button-favourite {
  font-family: "PT Sans", Arial, Helvetica, sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  background: #82b3d3;
  color: #ffffff;
  padding: 8px 20px;
  border: 0;
}

.green {
  background: #7db54f;
  padding: 8px 18px;
}

.stars-2 {
  min-width: 45px;
  min-height: 30px;
  background-image: url('../images/stars.png');
  background-repeat: no-repeat;
  background-position: center;
}

.stars-3 {
  min-width: 90px;
  min-height: 30px;
  background-image: url('../images/stars.png');
  background-repeat: no-repeat;
  background-position: center;
}

.stars-4 {
  min-width: 140px;
  min-height: 30px;
  background-image: url('../images/stars.png');
  background-repeat: no-repeat;
  background-position: center;
}

.button-rating {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  background-color: #f2f2f2;
  color: #333333;
  margin: 0;
  padding: 9px 22px;
  border: 0;
}
.hotel-rating {
  display: flex;
  justify-content: space-between;
  font-size: 16px;
}

.pagination {
  display: flex;
  gap: 8px;
  position: relative;
}

.pagination::after{
  position: absolute;
  content: '';
  left: 50%;
  bottom: 165%;
  background-color: #E6E6E6;
  width: 1060px;
  height: 1px;
  transform: translateX(-50%);
}

.button-pagination {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 36px;
  min-width: 60px;
  height: 60px;
  text-align: center;
  text-decoration: none;
  background-color: #82b3d3;
  color: #ffffff;
  margin: 0;
  padding: 11px 10px;
  border: 0;
  box-sizing: border-box;
}

.active {
  background-color: #f2f2f2;
  color: #000;
}

.non-decor {
  background-color: #fff;
  color: #000;
}
